<script type="text/ng-template" id="corsi-template.html">
    <div class="panel {{panelClass || 'panel-default'}}">
        <div class="panel-heading">
            <h4 class="panel-title">
                <a href tabindex="0" class="accordion-toggle" ng-click="toggleOpen()" uib-accordion-transclude="heading">
                    <span ng-class="{'text-muted': isDisabled}">{{heading}}</span>
                </a>
            </h4>
        </div>
        <div class="panel-collapse collapse" uib-collapse="!isOpen">
            <div class="panel-body" ng-transclude></div>
        </div>
    </div>
</script>


<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>Bibliografia del progetto AMPER:<o:p></o:p></span></h2>



<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>La procedura d'analisi utilizzata è stata messa a punto e testata nei seguenti studi:</h3>
<br>Boë L.J. & Rakotofiringa H. (1971). Exigences, réalisation et limite d'un appareillage destiné à l'étude de l'intensité et de la hauteur d'un signal acoustique. Revue d'Acoustique, 4, 104-113.

<br>Contini M. (1971). Contribution à l'étude instrumentale de l'intonation en sarde, Actes du XIII Congrès de Linguistique et Philologie Romanes (Québec, 1971), Presses de l'Univ. Laval, 1976, 229-245.

<br>Boë L.J. & Rakotofiringa H. (1972). Une méthodologie systématique de la mesure de la fréquence laryngienne, de l'intensité et de la durée de la parole. Bull. de l'Inst de Ph. de Grenoble, I, 1-9.

<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>L'analisi statistica è stata presentata da:</span></h2>
Contini M. & Boë L.J. (1973). Contribution à l'étude quantitative de l'évolution de la fréquence laryngienne dans la phrase énonciative en français, Bull. de l'Inst de Ph. de Grenoble, II, 77-92.

<br>Boë L.J., Contini M. & Rakotofiringa H. (1975). Étude statistique de la fréquence laryngienne. Application à l'analyse et à la synthèse des faits prosodiques du français. Phonetica, 32, 1-23.

<br>Contini M. & Boë L.J. (1975). Contribution à l'étude quantitative de l'évolution de la fréquence laryngienne dans la phrase interrogative en français (question totale), Bull. de l'Inst de Ph. de Grenoble, IV, 85-102.

<br>Contini M. & Boë L.J. (1979). Étude quantitative de l'intonation en français : premiers résultats. In Recherches sur la prosodie du français, Inst de Ph. de Grenoble, 117-129 (présenté au 8ème ICPhS, Leeds, 1975).

<br>Contini M., Bellet G. & Boë L.J. (1981). Variations intralocuteurs de F0 dans la réalisation d'une phrase énonciative en français : normalisation temporelle. Actes des XIIèmes JEP du GALF-GCP (Monréal, 1981).

<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>La metodologia si appoggia in parte sui risultati di un'applicazione tecnologica presentata da:</span></h2>
<br>Aubergé V. (1991). "La synthèse de la parole : “ des règles aux lexiques ”". Thèse de Doctorat, ICP-INPG/Université Stendhal et CRISS-Université Pierre Mendès-France, Grenoble, 1 vol.

<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>e sulla discussione di alcuni problemi dialettologici, tecnici e metodologici (modellizzazione, stilizzazione) discussi nei seguenti studi:</span></h2>
Lai J.P., Romano A. & Roullet S. (1997). Analisi dei sistemi prosodici di alcune varietà parlate in Italia: problemi metodologici e teorici. Bollettino dell'Atlante Linguistico Italiano, 21, Torino, 1998, 23-70.

<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>L'adattamento dell'algoritmo e la sua implementazione in MATLAB sono stati trattati dettagliatamente da:</span></h2>
<br>Romano A. (1995). "Développement d'un environnement de travail pour l'étude des structures sonores et intonatives de la parole", Mémoire de DEA en Sciences du Langage, ICP, Univ. Stendhal.

<br>Romano, A. (1999). Analyse des structures prosodiques des dialectes et de l'italien régional parlés dans le Salento (Italie): approche linguistique et instrumentale. Thèse de Doctorat, Grenoble: Université Stendhal, 2 vol.

<br>Romano A. (2001). Analyse des structures prosodiques des dialectes et de l'italien régional parlés dans le Salento: approche linguistique et instrumentale. Lille, Presses Univ. du Septentrion (ISBN 2-284-02155-7).

<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>Le prime applicazioni della strategia d'analisi alla variabilità geoprosodica sono in:</span></h2>
<br>Contini M. (1984). L'intonation des phrases affirmatives et interrogatives avec inversion en sarde. Bull. de l'Inst. de Phonétique de Grenoble, 13, 131-152.

<br>Contini M. & Profili O. (1987). Trois intonolectes régionaux de l'italien : une analyse expérimentale. Bull. Inst. Ph. Grenoble, 16.

<br>Contini M. & Profili O. (1989). L'intonation de l'italien régional. Un modèle de description par traits. In Bothorel et al. (éd.), Mélanges de phonétique expérimentale offerts à Péla Simon. Publ. de l'Institut de Phonétique de Strasbourg, 854-870.

<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>Il progetto AMPER nasce da una idea di M. Contini presentata per la prima volta nella seguente comunicazione:</span></h2>
<br>Contini M. (1992). Vers une géoprosodie, Actes du "Nazioarteko Dialektologia Biltzarra Agiriak" (Bilbao, 1991), Publ. Real Academia de la Lengua Vasca, Bilbao, 83-109.

<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>che si ispirava al lavoro descritto in:</h2>
<br>Gårding E. (1977). Vergleichende Studien zur Prosodie schwedischer Dialekte. Lund Univ. Working Papers, 15, 55-66.

<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>I test di percezione si basano su una procedura elaborata per i test descritti in:</span></h2>
<br>Romano A. (1997). Persistence of prosodic features between dialectal and standard Italian utterances in six sub-varieties of a region of Southern Italy (Salento): first assessments of the results of a recognition test and an instrumental analysis. Proc. of EuroSpeech'97 (5th European Conference on Speech Comm. and Technology, Rodos, Greece, 22-25 Sept. 1997), 175-178.

<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>ma una descrizione più completa è ormai disponibile in:</span></h2>
<br>Interlandi G. (2002). La percezione dell’intonazione torinese: risultati di un test d’identificazione. In G. Marotta & N. Nocchi (acd), La Coarticolazione, Atti delle XIII Giornate di Studio del GFS (Pisa, 26-28 novembre 2002), Pisa, ETS, 193-201.

<h3 style="text-align:center; font-weight: bold;"><span style='font-size:12.0pt'>Il progetto AMPER è stato presentato in:</span></h2>
<br>Contini M., Lai J.P., Romano A. & Roullet S. (1998). Vers un atlas prosodique parlant des variétés romanes. In J.-C. Bouvier et al. (eds.), Mélanges offerts à X. Ravier, CNRS – Univ. de Toulouse – Le Mirail, 2003, 73-84.

<br>Romano A. & Contini M. (2001). Un progetto di Atlante geoprosodico multimediale delle varietà linguistiche romanze. In E. Magno Caldognetto e P. Cosi (a cura di), Multimodalità e Multimedialità nella Comunicazione, Atti delle XI Giornate di Studio del "Gruppo di Fonetica Sperimentale" dell'Ass. Italiana di Acustica (Padova, 29 Nov.-1o Dic. 2000), Padova, Unipress, 2001, 121-126.

<br>Romano A. (2002). Un projet d'Atlas multimédia prosodique de l'espace roman (AMPER). In F. Sánchez Miret (ed.), Atti del XXIII CILFR (Salamanca, Spagna, 22-28 Sett. 2001), vol. I, Tübingen, Niemeyer, 279-294.

<br>Contini M., Lai J.-P., Romano A., Roullet S., de Castro Moutinho L., Coimbra R.L., Pereira Bendiha U. & Secca Ruivo S. (2002). Un projet d'atlas multimédia prosodique de l'espace roman. Proceedings of the International Conference Speech Prosody 2002 (Aix-en-Provence, 11-13 April 2002) (a c. di B. Bel & I. Marlien), 227-230.

<br>Lai J.P. & Romano A. (2003). Etat d'avancement du projet Atlas Multimédia Prosodique de l'Espace Roman (AMPER). Bollettino dell'Atlante Linguistico Italiano, 26, Torino (2002), 199-203.