

<div class="bubu">
    <jqcloud words="inventarisonori.words" width="790" height="350" steps="7"></jqcloud>
</div>

Gli inventari sono tratti da: Romano Antonio (2008). Inventarî sonori delle lingue: elementi descrittivi di sistemi e processi di variazione segmentali e sovrasegmentali. Alessandria: Dell'Orso, 204 pp., euro 16,00 ISBN: 978-88-6274-062-3 (http://www.ediorso.it/web/pages/home/body.php).
Per l'esame di Linguistica Generale dei corsi di laurea triennali (I sem.), gli studenti sono invitati a scaricare e a studiare l'inventario dell'italiano (obbligatorio per tutti) e gli inventari di due delle lingue da loro studiate (a scelta).
A questo link è anche disponibile una versione on-line del VI capitolo del libro Inventarî sonori delle lingue: elementi descrittivi di sistemi e processi di variazione segmentali e sovrasegmentali. Si rammenta che i (4) documenti menzionati sopra costituiscono parte del programma d'esame (come da guida dello studente) in quanto estratti dal testo adottato. L'accertata mancanza di riferimenti a questi materiali di studio nella preparazione dei candidati può essere causa di fallimento della prova.