<div class="row partners">
    <!--<div class="col-sm-6 col-md-4">
        <a href="http://www.atlantelinguistico.it/" target="_blank">
            <div class="thumbnail">
                <img src="images/partners/ali-s.png" >
                <div class="caption">
                    <h5>ALI (Atlante Linguistico Italiano)</h5>
                </div>
            </div>
        </a>

    </div> -->
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="http://www.unioviedo.es/labofone/" target="_blank">
                <h2 style="text-align: center">AMPER-AST</h2>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="http://ampercan.webs.ull.es/?q=base-datos-amper-en-canarias#mapa" target="_blank">
                <h2 style="text-align: center">AMPER-CAN</h2>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="http://stel.ub.edu/labfon/amper/cast/index_ampercat.html" target="_blank">
                <h2 style="text-align: center">AMPER-CAT</h2>
            </a>
        </div>
    </div>
</div> <!-- /.row -->

<div class="row partners">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="http://stel.ub.edu/labfon/amper/cast/index.html" target="_blank">
                <h2 style="text-align: center">AMPER-ESP</h2>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="http://dialecto.u-grenoble3.fr/AMPER/amper.htm" target="_blank">
                <h2 style="text-align: center">AMPER-FRA</h2>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="http://ilg.usc.es/amper/" target="_blank">
                <h2 style="text-align: center">AMPER-GAL</h2>
            </a>
        </div>
    </div>


</div> <!-- /.row -->

<div class="row partners">
    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="http://www.fbworks.eu/amper-ita" target="_blank">
                <h2 style="text-align: center">AMPER-ITA</h2>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="http://pfonetica.web.ua.pt/AMPER-POR.htm" target="_blank">
                <h2 style="text-align: center">AMPER-POR</h2>
            </a>
        </div>
    </div>

    <div class="col-sm-6 col-md-4">
        <div class="thumbnail">
            <a href="http://amprom.uaic.ro/" target="_blank">
                <h2 style="text-align: center">AMPER-ROM</h2>
            </a>
        </div>
    </div>
</div> <!-- /.row -->