<div>
    <div class="cartina col-md-4" ng-include="'files/ampere/italia2.svg'"></div>

	<div class="descrizione col-md-4"></div>

	<div class="legenda col-md-4"></div>
	<!--
     <rect
                    style="fill:none;stroke:none;stroke-opacity:1;cursor:pointer"
                    id="pi-catalano"
                    class="pirect"
                    width="50.714287"
                    height="42.142857"
                    x="875.19385"
                    y="741.88208"
                    inkscape:label="#rect2996-1-7" />
        </g>

        -->
	<a href="/#/guida">Guida</a>
</div>